<section class="franchise__section">
    <div class="container">
        <h2>Contacts</h2>
        <ul class="franchise">
            <li class="franchise__card">
                <p class="franchise__title">CAFE</p>
                <address class="franchise__list">
                    <ul class="franchise__item">
                        <li class="franchise__address">
                            <p class="franchise__address-city">Chicago</p>
                        </li>
                        <li class="franchise__address">
                            <a href="" class="franchise__address-link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                        </li>
                    </ul>
                    <ul class="franchise__item">
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-days">Monday - Friday</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-days">Saturday - Sunday</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="franchise__item">
                        <li class="franchise__contacts">
                            <a class="franchise__contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="franchise__contacts">
                            <a class="franchise__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
            <li class="franchise__card">
                <p class="franchise__title franchise__title--width">FOODTRUCK</p>
                <address class="franchise__list">
                    <ul class="franchise__item">
                        <li class="franchise__address">
                            <p class="franchise__address-city">Los Angeles</p>
                        </li>
                        <li class="franchise__address">
                            <a href="" class="franchise__address-link">1003 Manhattan Ave, Manhattan Beach, CA 90263,
                                USA</a>
                        </li>
                    </ul>
                    <ul class="franchise__item">
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-days">Monday - Friday</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-days">Saturday - Sunday</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="franchise__item">
                        <li class="franchise__address">
                            <a class="franchise__contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="franchise__address">
                            <a class="franchise__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
            <li class="franchise__card">
                <p class="franchise__title">CAFE</p>
                <address class="franchise__list">
                    <ul class="franchise__item">
                        <li class="franchise__address">
                            <p class="franchise__address-city">New York</p>
                        </li>
                        <li class="franchise__address">
                            <a href="" class="franchise__address-link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                        </li>
                    </ul>
                    <ul class="franchise__item">
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-days">Monday - Friday</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-days">Saturday - Sunday</p>
                        </li>
                        <li class="franchise__schedule">
                            <p class="franchise__schedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="franchise__item">
                        <li class="franchise__address">
                            <a class="franchise__contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="franchise__address">
                            <a class="franchise__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
        </ul>
        <button class="franchise__button franchise__button--location" type="submit">Our Locations
            <svg class="franchise__icon" width="12" height="12">
                <use href=""></use>
            </svg>
        </button>
        <button class="franchise__button franchise__button--frahchise" type="submit">Franchise
            <svg class="franchise__icon" width="12" height="12">
                <use href=""></use>
            </svg>
        </button>
    </div>
</section>