<section class="review">
    <div class="swiper mySwiper container">
        <ul class="swiper-wrapper list">
            <li class="swiper-slide">
                <div class="customer-container">
                    <picture>
                        <source srcset="
                                        ./images/customer_reviews/reviews_customer1.jpg 1x,
                                        ./images/customer_reviews/reviews_customer1_2x.jpg 2x
                                        ">
                        <img src="./images/customer_reviews/reviews_customer1.jpg" alt="Emily">
                    </picture>
                    <div class="customer-review">I love visiting your cafe. You prepare the most delicious ice cream in
                        Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </div>
                    <div class="customer-name">Emily, Los Angeles</div>
                </div>
            </li>

            <li class="swiper-slide">
                <div class="customer-container">
                    <picture>
                        <source srcset="
                    							./images/customer_reviews/reviews_customer2_sam.jpg 1x,
                    							./images/customer_reviews/reviews_customer2_sam_2x.jpg 2x
                    							">
                        <img src="./images/customer_reviews/reviews_customer2_sam.jpg" alt="Sam">
                    </picture>
                    <div class="customer-review">I love eating popsicles on a hot day. Yours is always delicious. I
                        recommend your cafe to everyone I know.
                    </div>
                    <div class="customer-name">Sam, Los Angeless</div>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="customer-container">
                    <picture>
                        <source srcset="
                                        							./images/customer_reviews/reviews_customer3_diana.jpg 1x,
                                        							./images/customer_reviews/reviews_customer3_diana_2x.jpg 2x
                                        							">
                        <img src="./images/customer_reviews/reviews_customer3_diana.jpg" alt="Diana">
                    </picture>

                    <div class="customer-review">Ice cream is my passion! I love your chocolate hazelnut ice cream! And
                        I really like the excellent service - always served politely and quickly!
                    </div>
                    <div class="customer-name">Diana, Chicago</div>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="customer-container">
                    <picture>
                        <source srcset="
                                        ./images/customer_reviews/reviews_customer4_bryan.jpg 1x,
                                        ./images/customer_reviews/reviews_customer4_bryan_2x.jpg 2x
                                        ">
                        <img src="./images/customer_reviews/reviews_customer4_bryan.jpg" alt="Bryan">
                    </picture>
                    <div class="customer-review">Every day we come to you with friends after classes in college. We love
                        your ice cream and casual atmosphere!
                    </div>
                    <div class="customer-name">Bryan, New-York</div>
                </div>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
    </div>
</section>