<header class="header">
  <div class="container header__container">
    <div class="nav">
      <a href="" class="nav__link-logo">
        <img
          src="./images/site-logo.png"
          alt="site logo"
          width="40.47px"
          height="37px"
        />
      </a>

      <nav class="header-navigation">
        <ul class="header-nav list">
          <li class="header-nav__item">
            <a href="./index.html" class="header-nav__link link">Home</a>
          </li>
          <li class="header-nav__item">
            <a href="" class="header-nav__link link">How it’s made?</a>
          </li>
          <li class="header-nav__item">
            <a href="" class="header-nav__link link">Our products</a>
          </li>
          <li class="header-nav__item">
            <a href="" class="header-nav__link link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-btn">
      <button type="button" class="menu-open-btn" data-menu-open>
        <svg class="menu-open-btn__menu-icon" width="32px" height="32px">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>

      <button type="button" class="btn-buy">
        <span>Buy now</span>
        <svg class="btn-buy__btn-icon" width="12px" height="12px">
          <use href="./images/icons.svg#icon-btn-more"></use>
        </svg>
      </button>
    </div>

  </div>
</header>
