<section class="section hero">
  <div class="container hero-container">
    <div class="main-information">
      <h1 class="hero__title">ice cream made with passion</h1>

      <ul class="hero-btn list">
        <li class="hero-btn__item">
          <a href="" class="hero-btn__link hero-btn__link--like-btn"
            >Products</a
          >
        </li>
        <li class="hero-btn__item">
          <a href="" class="hero-btn__link hero-btn__link--like-link"
            >How it’s made?</a
          >
        </li>
      </ul>

      <div class="excerption-container">
        <img
          class="excerption__img-many-ice-cream"
          src="./images/many-ice-cream.png"
          alt="ice cream"
          width="152"
          height="152"
        />
        <div class="excerption">
          <p class="excerption__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <p class="excerption__under-text">
            <svg class="excerption__icon" width="40px" height="16px">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </p>
        </div>
      </div>
    </div>

    <ul class="cafes list">
      <li class="cafes__item">
        <p class="cafes__text cafes__item--number">16</p>
        <p class="cafes__text cafes__item--type">cafes</p>
      </li>
      <li class="cafes__item">
        <p class="cafes__text cafes__item--number">23</p>
        <p class="cafes__text cafes__item--type">food trucks</p>
      </li>
    </ul>

    <!-- <img
      class="img-container__img img-container__img--ice-cream"
      src="./images/ice-cream.png"
      alt="ice cream"
      width="170"
      height="219"
    />

    <picture class="img-points">
      <source class="img-points__desk"
        srcset="./images/hero-points-desk.png 1x, ./images/hero-points-desk.png 2x"
        media="(min-width:1200px)"
      />
      <source class="img-points__tab"
        srcset="./images/hero-points-tab.png 1x, ./images/hero-points-tab.png 2x"
        media="(min-width:768px)"
      />
      <source class="img-points__mob"
        srcset="./images/hero-points.png 1x, ./images/hero-points.png 2x"
        media="(max-width:767px)"
      />
      <img
        class="img-points__img img-points__img--hero-points"
        src="./images/hero-points.png"
        width="328"
        height="49.11"
        alt="ice cream"
      />
    </picture> -->
  </div>
</section>
