 <!--modal-form---buy now-->
 <div class="backdrop">
    <div class="modal-window" id="buy_now_form">
        <button id="close-btn" class="modal-window__close-btn">x</button>
        <p class="modal-window__header">Buy now</p>
        <form name="buy_now">
            <ul class="modal-product">
                <li class="modal-product__item">
                    <label>
                        <input class="modal-product__check" type="checkbox" id="cream" name="product_cream">
                        <img class="modal-product__img" src="./images/modal/buy/modal-cream-m.png" alt="ice cream" width="132">
                        <p class="modal-product__name">Ice cream</p>
                    </label>
                </li>
                <li class="modal-product__item">
                    <label>
                        <input class="modal-product__check" type="checkbox" id="cream" name="product_cream">
                        <img class="modal-product__img" src="./images/modal/buy/modal-cofee-m.png" alt="ice cream" width="132">
                        <p class="modal-product__name">Ice coffee</p>
                    </label>
                </li>
                <li class="modal-product__item">
                    <label>
                        <input class="modal-product__check" type="checkbox" id="cream" name="product_cream">
                        <img class="modal-product__img" src="./images/modal/buy/modal-milkshake-m.png" alt="ice cream" width="132">
                        <p class="modal-product__name">Milkshake</p>
                    </label>
                </li>
            </ul>
            <ul class="modal-user-info">
                <li class="modal-user-info__item">
                    <input class="modal-user-info__input" id="buyer_name" name="buyer_name" type="text" placeholder="Name">
                </li>
                <li class="modal-user-info__item">
                    <input class="modal-user-info__input" id="buyer_phone" name="buyer_phone" type="tel" placeholder="Phone">
                </li>
                <li class="modal-user-info__item">
                    <textarea class="modal-user-info__input" id="buyer_comment" name="buyer_comment" placeholder="Comment"></textarea>
                </li>
            </ul>
            <button type="submit" class="modal-submit-btn" value="buy-now">Submit</button>
        </form>
    </div>
    <!--Modal ingredients-->
    <div class="modal-window" id="Modal_ingredients">
        <button id="close-btn" class="modal-window__close-btn">x</button>
        <p class="modal-window__header">Buy now</p>
        <form name="Ingredients">
            <ul class="modal-product">
                <li class="modal-product__item">
                    <label>
                        <input class="modal-product__check" type="checkbox" id="cream" name="product_cream">
                        <img class="modal-product__img" src="./images/modal/buy/modal-cream-m.png" alt="ice cream" width="132">
                        <p class="modal-product__name">Ice cream</p>
                    </label>
                </li>
                <li class="modal-product__item">
                    <label>
                        <input class="modal-product__check" type="checkbox" id="cream" name="product_cream">
                        <img class="modal-product__img" src="./images/modal/buy/modal-cofee-m.png" alt="ice cream" width="132">
                        <p class="modal-product__name">Ice coffee</p>
                    </label>
                </li>
                <li class="modal-product__item">
                    <label>
                        <input class="modal-product__check" type="checkbox" id="cream" name="product_cream">
                        <img class="modal-product__img" src="./images/modal/buy/modal-milkshake-m.png" alt="ice cream" width="132">
                        <p class="modal-product__name">Milkshake</p>
                    </label>
                </li>
            </ul>
            <ul class="modal-user-info">
                <li class="modal-user-info__item">
                    <input class="modal-user-info__input" id="buyer_name" name="buyer_name" type="text" placeholder="Name">
                </li>
                <li class="modal-user-info__item">
                    <input class="modal-user-info__input" id="buyer_phone" name="buyer_phone" type="tel" placeholder="Phone">
                </li>
                <li class="modal-user-info__item">
                    <textarea class="modal-user-info__input" id="buyer_comment" name="buyer_comment" placeholder="Comment"></textarea>
                </li>
            </ul>
            <button type="submit" class="modal-submit-btn" value="buy-now">Submit</button>
        </form>
    </div>
</div>