
.contacts {
    background-color: $main-body-color;
    max-height: 100%;

    &__container {
        max-height: 100%;
    }

    &__wrap {
        z-index: 1;
        position: relative;
        top: -25%;
        left: 50%;
        transform: translate(-50%, -25%);
        margin-bottom: 39px;

        @include tablet {
                @media screen and (min-width: 768px) {
                    top:-25%;
                    left: 50%;
                    transform: translate(-50%, -40%);
                }
            }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;

        @include tablet {
            @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            }
        }


    }

    &__card { 
        margin-bottom: 20px;
        padding: 40px 32px;
        width: 100%;
        max-width: 280px;
        height: 412px;
        background: #FCFCFC;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        @include tablet {
            @media screen and (min-width: 768px) {
                padding: 40px 24px;
                width: 100%;
                max-width: 224px;
                height: 528px;
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

    &__item {
        padding: 0;
        margin-bottom: 48px;

        &:last-child {
            margin-bottom: 0;
        }

        @include tablet {
            @media screen and (min-width: 768px) {
                margin-bottom: 64px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__title {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        text-align: center;
        width: 80px;
        height: 16px;
        background-color: #F8D24E;
        border-radius: 4px;
        margin: 0;
        margin-bottom: 20px;

        &--width {
            width: 130px;
        }

        @include tablet {
            @media screen and (min-width: 768px) {
                margin-bottom: 32px;
                font-size: 16px;
                height: 28px;
            }
        }
    }

    &__address-city {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        margin-bottom: 8px;

        @include tablet {
            @media screen and (min-width: 768px) {
                margin-bottom: 12px;
                font-size: 14px;
            }
        }
    }

    &__address-link {
        text-decoration: none;
        color: #D6936D;
    }

    &__schedule-days {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;

        @include tablet {
            @media screen and (min-width: 768px) {
                font-size: 14px;
            }
        }
    }

    &__schedule-time {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        color: #ABABAB;
        @include tablet {
            @media screen and (min-width: 768px) {
                font-size: 14px;
            }
        }
    }

    &__contacts-link {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        text-decoration: none;
        color: #131313;
        @include tablet {
            @media screen and (min-width: 768px) {
                font-size: 14px;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        margin: 0 auto;
        width: 196px;
        height: 42px;
        border-radius: 10px;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @include tablet {
            @media screen and (min-width: 768px) {
                margin: 0;
            }
        }

        &-flex{
            @include tablet {
               @media screen and (min-width: 768px) {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                }
            }
        }
        

        &:hover,
        &:focus {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        &--location {
            margin-bottom: 16px;
            background-color: $button-color;
            border: none;
            color: #000;

            &:hover {
              background-color: $button-hover-color;
            }
            &:focus {
                background-color: $button-hover-color;
                color: #ffffff;
            }
            &:disabled {
                color: #000;
                background-color: $button-disable-color;
            }

            @include tablet {
                @media screen and (min-width: 768px) {
                    margin-right: 16px;
                }
            }

        }

        &--franchise {
            background-color: transparent;
            border-color: $button-color;
            border: 2px solid $button-color; 
            &:hover {
                border-color: $button-hover-color;
            }
        
            &:focus {
                border-color: $button-hover-color;
                color: #ffffff;
            }
        
            &:disabled {
                color: #000;
                border-color: $button-disable-color;
            }
        }

    }

    &__icon {
        margin-left: 6px;
        fill: currentColor;
  
    }
}