.footer {
  background-color: $main-body-color;
}
.footer__container {
  @media screen and (min-width: 480px) {
    display: flex;
  }
}
.footer__title {
  padding-right: 66px;
  @media screen and (min-width: 480px) {
    padding-right: 20px;
  }
}
.footer__title-one {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: $main-text-color;

  @media screen and (min-width: 480px) {
    margin-bottom: 9px;
    font-size: 26px;
    line-height: 1.23;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
  }
}
.footer__title-two {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-text-color;

  @media screen and (min-width: 480px) {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 768px) {
    font-size: 58px;
    line-height: 1.22;
  }
}
.footer__social-list {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 28px;
  @media screen and (min-width: 480px) {
    gap: 30px;
  }
}
.footer__social-item {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $button-color;
  justify-content: center;
}
.footer__social-item:hover {
  width: 32px;
  height: 32px;
}
.footer__social-item:focus {
  width: 35px;
  height: 35px;
}
.footer__social-icon {
  fill: $main-body-color;
}
.footer__social-icon:hover,
.footer__social-icon:focus {
  fill: $main-text-color;
}

.footer__social-text,
.footer__social-tel-link {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  text-align: right;
  @media screen and (min-width: 480px) {
    font-size: 16px;
  }
}
.footer__social-text {
  color: #131313;
}
.footer__social-tel-link {
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer__bottom {
  padding-top: 16px;
  padding-bottom: 62px;
  border: 1px solid #e1e1e1;
}
.footer__bottom-text {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #7a7a7a;
}
