.hero {
  background-color: $main-body-color;
  padding-top: 110px;
  /* outline: 2px solid rgb(179, 0, 255); */
  padding-bottom: 239px;


  @include tablet {
    padding-top: 94px;
    padding-bottom: 13px;

  }

  @include desktop {
    padding-top: 126px;
    padding-bottom: 19px;
  }
}

.hero-container {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 239px; */
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid rgb(0, 255, 76); */

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    /* padding-bottom: 13px; */
  }

  @include desktop {
    width: 1200px;
    /* padding-bottom: 19px; */
  }
}

.main-information {
  @include tablet {
    padding-top: 10px;
    /* padding-bottom: 13px; */
  }

  @include desktop {
    padding-top: 8px;
    /* padding-bottom: 65px; */
  }
}

.hero__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-text-color;
  width: 247px;
  margin-bottom: 32px;

  @include tablet {
    width: 181px;
    font-size: 18px;
    line-height: calc(23 / 18);
    margin-bottom: 20px;
  }

  @include desktop {
    width: 367px;
    font-size: 38px;
    line-height: calc(48 / 38);
    margin-bottom: 28px;
  }

  @include desktop {
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero__title--span {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 34;
  line-height: 0.97;
  text-transform: uppercase;
  color: $main-text-color;
  @include tablet {
    font-size: 24px;
    line-height: 0.55;
  }
  @include desktop {
    font-size: 34px;
    line-height: 0.97;
  }
}


.hero-btn {
  display: flex;
  gap: 8px;

  &__item {
    width: 62px;
    height: 24px;

    &:last-child {
      width: 82.8px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    width: 100%;
    height: 100%;
  }

  &__link--like-btn {
    font-weight: 600;
    font-size: 8px;
    line-height: calc(10 / 8);
    color: #131313;
    border: 2px solid $button-color;
    border-radius: 8px;
  }

  &__link--like-link {
    font-weight: 600;
    font-size: 8px;
    line-height: calc(10 / 8);
    text-decoration-line: underline;
    color: $button-color;
  }

}

.img-container__img--ice-cream {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.cafes {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item--number {
    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $second-text-color;
  }

  &__item--type {
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);
    text-align: right;
    color: $main-text-color;
  }

  @include desktop {

    &__item--number {
      font-size: 46px;
      line-height: calc(56 / 46)
    }

    &__item--type {
      font-size: 14px;
      line-height: calc(17 / 14)
    }

  }
}


.excerption-container {
  display: none;

  @include tablet {
    display: flex;
    align-items: flex-end;
    margin-top: 28px;
    /* padding-bottom: 13px; */
  }

  @include desktop {
    align-items: normal;
    padding-bottom: 46px;
    padding-top: 46px;
  }
}

.excerption-img {
  width: 152px;
  height: 152px;

  @include desktop {
    width: 225px;
    height: 225px;
  }

  &__many-ice-cream {
    display: none;
  
    @include tablet {
      display: block;
    }
  }
}

.excerption {
  margin-left: 33px;

  @include desktop {
    padding-top: 67px;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);
    color: $main-text-color;
    width: 151px;

    @include desktop {
      width: 200px;
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }

  &__under-text {
    margin-top: 20px;

    @include desktop {
      margin-top: 32px;
    }
  }
}

@include desktop {}

/* .img-points--hero-points */
/* .img-points {
  position: absolute;
  width: 328px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  &__tab{
    width: 768px;
  }

  &__desk {
    width: 1200px;
  }
} */