.products {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
  }
  background-image: linear-gradient(
      rgba(245, 245, 245, 0.1),
      rgba(245, 245, 245, 0.1)
    ),
    url(../images/products/products-background-mob-1px.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(245, 245, 245, 0.1),
        rgba(245, 245, 245, 0.1)
      ),
      url(../images/products/products-background-mob-2px.png);
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    background-image: linear-gradient(
        rgba(245, 245, 245, 0.1),
        rgba(245, 245, 245, 0.1)
      ),
      url(../images/products/products-background-tab-1px.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(245, 245, 245, 0.1),
          rgba(245, 245, 245, 0.1)
        ),
        url(../images/products/products-background-tab-2px.png);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    background-image: linear-gradient(
        rgba(245, 245, 245, 0.1),
        rgba(245, 245, 245, 0.1)
      ),
      url(../images/products/products-background-dt-1px.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(245, 245, 245, 0.1),
          rgba(245, 245, 245, 0.1)
        ),
        url(../images/products/products-background-dt-2px.png);
    }
  }
}

.products__label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
  margin-top: 0;
  @media screen and (min-width: 480px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
  margin-top: 0;

  @media screen and (min-width: 480px) {
    font-size: 30px;
  }
  @media screen and (min-width: 768px) {
    font-size: 34px;
    margin-bottom: 200px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 164px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  @media screen and (min-width: 768px) {
    display: flex;
// <<<<<<< HEAD
//     flex-direction: wrap;
//     flex-direction: row;
//     gap: 16px;
//   }
// =======
    flex-wrap: wrap;
    flex-direction: column;
    gap: 164px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: wrap;
        flex-direction: row;
        gap: 16px;
    }
  }
}
.products__item {
  position: relative;
  width: 250px;
  height: 420px;
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    width: 280px;
    height: 420px;
    border-radius: 24px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 3);
    padding-left: 26px;
    padding-right: 26px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 64px) / 3);
    height: auto;
    padding-left: 64px;
    padding-right: 63px;
  }
//
//     padding-top: 123px;
//     padding-left: 40px;
//     padding-right: 40px;
//     margin-right: auto;
//     margin-left: auto;

//     @media screen and (min-width:480px) {
//         width: 280px;
//         height: 420px;
//         border-radius: 24px;
//     }
//
}

.item-one {
  background-color: #84a178;

  &::before {
    content: '';
    width: 200px;
    height: 199px;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    background-image: url(../images/products/ice-cream-mob-1px.jpg);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -155%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-mob-2px.jpg);
    }
    background-size: cover;
    @media screen and (min-width: 768px) {
      background-image: url(../images/products/ice-cream-tab-1px.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-tab-2px.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      width: 301px;
      height: 300px;
      background-image: url(../images/products/ice-cream-dt-1px.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-dt-2px.jpg);
      }
    }
  }
}

.item-two {
  background-color: #efd478;

  &::before {
    content: '';
    width: 200px;
    height: 199px;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    background-image: url(../images/products/ice-coffee-mob-1px.jpg);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -155%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee-mob-2px.jpg);
      
    }
    background-size: cover;
    @media screen and (min-width: 768px) {
      width: 200px;
      height: 197px;
      background-image: url(../images/products/ice-coffee-tab-1px.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cofee-tab-2px.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      width: 301px;
      height: 300px;
      background-image: url(../images/products/ice-coffee-dt-1px.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-coffee-dt-2px.jpg);
      }
    }
  }
}

.item-three {
  background-color: #d6936d;

  &::before {
    content: '';
    width: 200px;
    height: 199px;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    background-image: url(../images/products/milkshakes-mob-1px.jpg);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -155%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes-mob-2px.jpg);
      
    }
    background-size: cover;
    @media screen and (min-width: 768px) {
      background-image: url(../images/products/milkshakes-tab-1px.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakes-tab-2px.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      width: 301px;
      height: 300px;
      background-image: url(../images/products/milkshakes-dt-1px.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakes-dt-2px.jpg);
      }
    }
  }
}

.products__name {
  padding-top: 123px;
  margin-bottom: 40px;
  margin-top: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
    // padding-top: 123px;
    // margin-bottom: 40px;
    // margin-top: 0;

  @media screen and (min-width: 480px) {
    font-size: 20px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.22;
    padding-top: 115px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.23;
    padding-top: 145px;
    margin-bottom: 65px;
  }
}

.products__description {
  width: 175px;
  height: 124px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.78;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (min-width: 480px) {
    width: 200px;
    height: 124px;
  }
  @media screen and (min-width: 768px) {
    width: 172px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
    width: auto;
  }
}

.products__btn {
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
    }
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    margin-top: 90px;
    padding: 0;
    cursor: pointer;
    @include desktop{
    cursor: inherit;
    }

}

.products__icon {
  display: block;
  width: 40px;
  height: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.15);
    }
  &:focus {
    width: 50px;
    transform: scale(1.35);
    }
}